.input {
  background: #ffffff;
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  padding: 16px 15.5px 16px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  outline: none;
  width: 100%;
  /*For IOS Safari: 
  /* min-width: 100%; */
  /* appearance: initial;
  -webkit-appearance: initial; */
}

.input:focus {
  border-color: #9277ff;
}

.input-label {
  letter-spacing: -0.25px;
  color: #7e88c3;
}

.input-span {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  margin-bottom: 22px;
  width: 100%;
}

.input-date {
  margin: 0;
}

.input-error {
  color: #ec5757;
}

.input--error {
  border-color: #ec5757;
}

.input-label--error {
  color: #ec5757;
}
