.invoices__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}

.invoices__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
  margin: 0 0 8px 0;
}

.invoices__subtitle {
  letter-spacing: -0.25px;
  color: #888eb0;
  margin: 0;
  text-align: left;
  line-height: normal;
}

.invoices__subtitle-mobile {
  display: none;
}

.invoices__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.invoices__filter-label {
  font-weight: 700;
  letter-spacing: -0.25px;
  display: flex;
  align-items: center;
}

.invoices__button {
  background: #7c5dfa;
  padding: 8px 15px 8px 8px;
  border-radius: 24px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: #ffffff;
  display: flex;
  align-items: center;
  border: none;
  /* gap: 16px; */
  cursor: pointer;
  /* width: 100px */
}

.invoices__button-span {
  font-weight: 700;
  letter-spacing: -0.25px;
  color: #ffffff;
}

.invoices__select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  background-color: rgba(red, green, blue, alpha);
  border: none;
  outline: none;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-style: 20px;
}

.invoices__select::after {
  content: "";
  background-image: url(../../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
}

.invoices__select-option {
  font-weight: 700;
  font-style: 20px;
}

@media only screen and (max-width: 668px) {
  .invoices__button-span {
    display: none;
  }
  .invoices__title {
    font-size: 20px;
  }

  .invoices__buttons {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .invoices__filter-label {
    margin-left: 15px;
  }

  .invoices__filter-text {
    color: white;
  }

  .invoices__subtitle {
    display: none;
  }

  .invoices__subtitle-mobile {
    display: block;
  }
}
